.container{
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.container:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    text-align: center;
}

.form {
    margin: auto;
    width: 210px;
}

.task-list {
    margin: auto;
    margin-top: 10px;
    width: 600px;
}

.task-list > ul {
    margin: auto;
    width: 300px;
}