<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
        <title>Todo List</title>
    </head>
    <body>
        <div class="container">
            <h1 class="title">TodoList</h1>
            <div class="form">
                <form method="POST" action="/create">
                    <span>
                        <input type="text" name="task">
                    </span>
                    <span>
                        <input type="submit" value="Add">
                    </span>
                </form>
            </div>
            <div class="task-list">
                <ul class="task">
                    {{ range .tasks}}
                        <li>{{ .TaskName }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </body>
</html>